@media screen and (max-width: 500px) {
  body {
    text-align: center;
    overflow-x: hidden;
  }

  /*Nav-bar Hamburger menu*/
  nav h1 {
    font-size: 1rem;
    
  }
  nav .mainMenu {
    height: 100%;
    max-width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu .close-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 10%;
    cursor: pointer;
  }

  nav .open-menu {
    display: block;
  }
  nav li a {
    color: black;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: #0fa3fe;
    font-size: 1.2rem;
    transition: 0.5s;
  }
  /*About me*/
  .about-me {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;

  }
  .about-me .text {
    margin-top: 50px;
    margin-left: 2.5rem;
    float: left;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-size: 1rem;
    width: 300px;
  }
  /*PROJECTS*/
  .projects {
    margin-top: 250px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .projects .text ul li img:hover {
    height: 200px;
    width: 300px;
    border-radius: 20px;
  
    transition: 1s;
  }
  /*Contact*/
  .contact {
    margin-left: 10px;
  }
  .contact p{
    margin-left: 0.5rem;
  }
  .contact form {
    margin: 1px;
    display: block;
  }
  .contact form input {
    margin-left: 10px;
    border: none;
    border-radius: 15px;
    width: 250px;
    height: 2rem;
    display: flex;
    margin-bottom: 10px;
  
    text-align: center;
  }
  
  .contact form textarea {
    width: 250px;
  }
  .contact section {
    display: none;
  }
  .contact form textarea {
    margin-left: 6px;
  }
}
